body {
	background: #ffffff;
	color: #000000;
	text-align:center;
	font-family:Agency FB;
	font-size:24px;
}

h1 {
	border-style: solid;
	border-width: 10px;
	border-color: #ff0000;
	padding: 1%;
	width: 150%;
	height:25%;
	margin:auto;
}

p {
	font-size:18px;
}

footer {
	position:fixed;
	bottom:0;
	font-size: 14px;
	padding: 1%;
}

.topnav{
	position:fixed;
	top:0;
	background-color: #ffffff;
}

.topnav a {
	float:right;
	display:block;
	color:#ff0000;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	font-size:25px;
}

.topnav a:hover {
	background-color: #000000;
	color: #ffffff;
}
